.page-logo {
    margin-right: 93px;

    color: var(--accent-color);
    font-family: var(--secondary-font);
    font-size: 26px;
}

.logo-header {
    color: #000000;
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
}

.logo-footer {
    color: var(--secondary-color-background);
    font-family: var(--secondary-font);
    font-size: 26px;
    line-height: 1.19;
}